name: Publish stage

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      automation_hub_url:
        required: false
        type: string
        default: 'https://console.redhat.com/api/automation-hub/'
        description: 'The API URL for the Automation Hub'
        
    secrets:
      automation_hub_token:
        required: true
        description: 'The Authentication Token for the Hub'

jobs:
  build-collection:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4

    - name: Publish | build-collection
      id: build-collection
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global --add safe.directory .
        ./.github/ci-utils/build.sh
    - name: Publish | upload-collection
      uses: actions/upload-artifact@v4
      if: always() && steps.build-collection.outcome != 'skipped'
      with:
        name: collection
        path: "*.tar.gz"
        if-no-files-found: error
  job-package-publisher-github:
    runs-on: ubuntu-latest
    needs: build-collection
    container:
      image: ${{ inputs.image }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: Publish | download-collection
      uses: actions/download-artifact@v4
      with:
        name: collection

    - name: Publish | job-package-publisher-github
      id: job-package-publisher-github
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global --add safe.directory .
        semantic-release publish

  job-package-publisher-rh-automation-hub:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build-collection
    # environment: ${{ inputs.environment }}
    steps:
    - name: Publish | download-collection
      uses: actions/download-artifact@v4
      with:
        name: collection
    - name: Publish | job-package-publisher-rh-automation-hub
      id: job-package-publisher-rh-automation-hub
      env:
        AUTOMATION_HUB_URL: ${{ vars.HUB_URL || 'https://console.redhat.com/api/automation-hub/' }}
        AUTOMATION_HUB_TOKEN: ${{ secrets.AUTOMATION_HUB_TOKEN }}
      run: |
        ansible-galaxy collection publish ./*.tar.gz \
          --server "$AUTOMATION_HUB_URL" \
          --token "$AUTOMATION_HUB_TOKEN"
